[user]
    name = Miles Olson
    email = mpolson64@gmail.com

[alias]
	c = commit -am
	up = pull
	p = push
	s = status
	co = checkout
	df = diff --color --color-words --abbrev

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[mergetool]
    prompt = false
    
[push]
    default = simple
    
[help]
	autocorrect = 1

[credential]
	helper = cache
