[include]
    path = ~/.gitconfig.local

[alias]
	c = commit -am
	up = pull
	p = push
	s = status
	co = checkout
	df = diff --color --color-words --abbrev

[core]
    editor = emacs
    excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
    
[push]
    default = simple
    
[help]
	autocorrect = 1
